* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  /* app-rootも全画面に */
  app-root {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  #superset-container {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
  }
  
  /* iframeを強制的に全画面に */
  #superset-container > iframe {
    width: 100vw !important;
    height: 100vh !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    border: none !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
  }